@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  background: crimson;
}

body, input, button, textarea {
  font: 600 18px Poppins, sans-serif;
}

.content { 
  margin-top: 50px; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer { 
  margin: 0 auto;
  color: antiquewhite;
}